.example-container {
    width: 100%;
    height: 100vh; /* Full viewport height */
    margin: 0;
    display: flex;
}

mat-drawer {
    width: 20%;  /* Remaining width for the main content */
    transition: transform 0.3s ease-in-out; 
}

mat-drawer-content {
    flex: 1; 
    transition: margin-left 0.3s ease-in-out;
}

@media (max-width: 709px) {
    mat-drawer {
        width: 0;
        transform: translateX(-100%); 
    }

    mat-drawer[opened] {
        width: 60%;
        transform: translateX(0);
    }

    mat-drawer-content {
        margin-left: 0; 
    }
}
